body {
    font-family:'Arial Narrow', Arial, sans-serif;
    background-color: #17080B;
    color: #F1DCE1;
    margin: 0;
    padding: 0;
}
main {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 5%;
}
h1 {
    font-size: 80px;
    margin-left: 5%;
    display: flex;
    align-items: center;
}
nav {
    text-align: center;
    background-color: #DE8D9E;
}
nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
nav li {

    text-align: right;
    font-size: 35px;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 5%;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
nav a:link{
    color: #17080B;
}
nav a:visited{
    color: #17080B;
}
nav li:hover a {
    color: #EB2D59;
}
nav li::marker {
    color: #17080B;
}
nav li:hover::marker {
    color: #EB2D59;
}
section p {
    line-height: 2;
    font-size: 20px;
}
footer{
    background-color: #e77d94;
    padding: 2%;
    padding-bottom: 5%;
    text-align: right;
    margin-top: 100px;
}
.footer-nav a{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}
footer a {
    text-decoration: none;
}
footer p {
    font-style: italic;
    font-size: small;
    color: #17080B;
}
footer a:link{
    color: #17080B;
}
footer a:visited{
    color: #17080B;
}
footer a:hover{
    color: #EB2D59;
}
form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
textarea {
    font-family: Arial, sans-serif;
}
#logo{
    width: 80px;
    height: 80px;
    margin-right: 2%;
}
.column-text {
    display: grid;
    grid-template-columns: 3;
}
.column-text a:link{
    color: #DE8D9E;
}
.column-text a:hover{
    color: #EB2D59;
}
.no-bullets {
    list-style-type: none;
}
.home-box {
    background-color: #DE4766;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}
.home-box h2 {
    font-size: 40px;
    margin-bottom: 0;
}
.home-box p {
    font-size: 1.5em;
}
#home-contact {
    color: #17080B;
    background-color: #F1DCE1;
    padding: 2%;
    border: 5px solid #DE4766;
    border-radius: 15px;
}
.artist-box {
    background-color: #861f34;
    padding: 5%;
    border-radius: 15px;
}
.artist-box h2{
    margin-top: 0;
    font-size: 40px;
}
.artist-box h3{
    font-size: 30px;
}
.artist-box p{
    background-color: #17080B;
    padding: 5%;
    border-radius: 15px;
}
.artist img {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
}
.top-songs-container {
    margin-top: 5%;
    border-top: 2px solid #DE4766;
}
.top-songs-container table {
    padding: 5%;
    background-color: #17080B;
    border-radius: 15px;
    border-spacing: 15px;
}
.top-songs-container th {
    text-align: left;
    padding-bottom: 10px;
}
.top-songs-container td {
    text-align: left;
    color: #F1DCE1;
}
.top-songs-container table img {
    width: 5em;
    height: 5em;
    border-radius: 15px;
    border: 2px solid #F1DCE1;
}
.artist-box .top-songs-container h3{
    padding-top: 15px;
    font-size: 20px;
}
.flow {
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: stretch;
}
.flow section:first-child {
    flex: 2;
}
.flow section:last-child {
    flex: 1;
}
.artist-flow {
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: stretch;
}
.artist-flow section:first-child {
    flex: 1.5;
}
.artist-flow section:last-child {
    flex: 1;
}
.genre-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 6%;
    padding: 20px;
    justify-content: center;
    text-align: center;
}
.genres p {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.genres a {
    text-decoration: none;
    color: #F1DCE1;
    display: block;
}
.genres img {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    border: 5px solid #F1DCE1;
}
.genres a:hover img {
    transform: scale(1.05);
}
.popup {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    padding: 0;
}
.popup-content {
    background-color: #F1DCE1;
    color: #861f34;
    margin: 5% auto;
    padding: 40px;
    border: 3px solid #861f34;
    width: 75%;
    max-width: 600px;
    height: 75%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.close-button {
    color: #DE8D9E;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transform: translateY(-5px);
}
.close-button:hover {
    color: #EB2D59;
}
.popup-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    border-bottom: 2px solid #DE4766;
    padding-bottom: 10px;
    margin-bottom: 15px; 
}
.embed-title {
    color: #DE8D9E;
    font-size: 1.2em;
    border-bottom: 2px solid #DE4766;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#scroll {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 20px;
}
#genre-title {
    color: #DE8D9E;
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
}
#genre-embed-link {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-top: 10px;
}
.playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
    padding: 25px;
    justify-content: center;
    text-align: center;
}
.playlists {
    background-color: #F1DCE1;
    border-radius: 15px;
    padding: 5%;
    color: #17080B;
    font-size: 25px;
    font-weight: 0;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.playlists p {
    padding-bottom: 20px;
}